@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.App {
    max-width: 1080px;
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 36;
}